- #### SparSession
- #### Leer Dataframe
- #### Esquema de un Dataframe
- #### Crear Dataframe
- #### Escribir Dataframe

## Hands on

In [1]:
import org.apache.spark.sql.{SparkSession, Row, DataFrame}
import org.apache.spark.sql.types._

### SparkSession

In [2]:
val spark = SparkSession.builder().appName("sesion_1").master("local[*]").getOrCreate()

spark = org.apache.spark.sql.SparkSession@27b4c456

org.apache.spark.sql.SparkSession@27b4c456

In [3]:
spark

org.apache.spark.sql.SparkSession@27b4c456

### Read DataFrame

In [9]:
def read_csv(path: String): DataFrame = {
    spark.read
        .option("header","true")
        .option("delimiter",",")
        .option("inferSchema","false")
        .csv(path)
    }

def read_parquet(path: String): DataFrame = {
    spark.read.parquet(path)
    }

val base_path: String = "../../resources/data/csv/"
val clients_df: DataFrame = read_csv(base_path + "clients.csv")
val contracts_df: DataFrame = read_csv(base_path + "contracts.csv")
val products_df: DataFrame = read_csv(base_path + "products.csv")

clients_df.show()
contracts_df.show()
products_df.show()

+----------+-------+----+---------+----------+-----+
|cod_client| nombre|edad|provincia|cod_postal|  vip|
+----------+-------+----+---------+----------+-----+
|     00001|  Julen|  31| Valencia|     23700|false|
|     00002| Javier|  58|     Ja?n|     08728| true|
|     00003| Carlos|  48|  Sevilla|     28757| true|
|     00004|  Maria|  38|   Gerona|     18393| true|
|     00005|Ernesto|  22|  C?ceres|     13950|false|
|     00006|  Luisa|  43|   Murcia|     23940| true|
|     00007|   Raul|  51|    ?lava|     09030|false|
+----------+-------+----+---------+----------+-----+

+-------+-----------+------------+----------+------+
|cod_iuc|cod_titular|cod_producto|  fec_alta|activo|
+-------+-----------+------------+----------+------+
|  30000|      00006|         100|2012-05-01|  true|
|  30001|      00006|         200|2014-05-01|  true|
|  30002|      00006|         300|2006-02-01| false|
|  30003|      00006|         150|2012-05-01|  true|
|  30002|      00005|         300|2012-05-01|  true|
|  30004|      00006|         400|2012-05-01| false|
|  30005|      00006|         500|2012-05-01|  true|
|  30006|      00006|         600|2012-05-01| false|
|  30003|      00003|         150|2019-10-14|  true|
|  30007|      00006|         700|2014-02-01| false|
|  30008|      00006|         800|2012-05-01|  true|
|  30009|      00006|         900|2015-09-01|  true|
|  30009|      00002|         900|2009-10-01|  true|
|  30010|      00006|        1000|2014-02-01|  true|
|  30003|      00002|         150|2018-09-18|  true|
|  30011|      00003|        1100|2018-10-01|  true|
|  30007|      00006|         700|2012-05-01|  true|
|  30007|      00002|         700|2015-05-15|  true|
|  30002|      00007|         300|2001-04-11| false|
|  30001|      00004|         200|2017-12-01|  true|
+-------+-----------+------------+----------+------+
only showing top 20 rows

+------------+-----------------+
|cod_producto|    desc_producto|
+------------+-----------------+
|         100|  tarjeta cr?dito|
|         150|   tarjeta d?bito|
|         200|pr?stamo personal|
|         300|         hipoteca|
|         400|plan de pensiones|
|         500|            fondo|
|         600|      seguro moto|
|         700|     seguro coche|
|         800|           nomina|
|         900|    seguro ahorro|
|        1000|         dep?sito|
|        1100|          pension|
+------------+-----------------+

products_df = [cod_producto: string, desc_producto: string]

read_csv: (path: String)org.apache.spark.sql.DataFrame
read_parquet: (path: String)org.apache.spark.sql.DataFrame
base_path: String = ../../resources/data/csv/
clients_df: org.apache.spark.sql.DataFrame = [cod_client: string, nombre: string ... 4 more fields]
contracts_df: org.apache.spark.sql.DataFrame = [cod_iuc: string, cod_titular: string ... 3 more fields]

[cod_producto: string, desc_producto: string]

In [8]:
clients_df.show()

+----------+-------+----+---------+----------+-----+
|cod_client| nombre|edad|provincia|cod_postal|  vip|
+----------+-------+----+---------+----------+-----+
|     00001|  Julen|  31| Valencia|     23700|false|
|     00002| Javier|  58|     Ja?n|     08728| true|
|     00003| Carlos|  48|  Sevilla|     28757| true|
|     00004|  Maria|  38|   Gerona|     18393| true|
|     00005|Ernesto|  22|  C?ceres|     13950|false|
|     00006|  Luisa|  43|   Murcia|     23940| true|
|     00007|   Raul|  51|    ?lava|     09030|false|
+----------+-------+----+---------+----------+-----+

In [6]:
clients_df.printSchema()

root
 |-- cod_client: string (nullable = true)
 |-- nombre: string (nullable = true)
 |-- edad: string (nullable = true)
 |-- provincia: string (nullable = true)
 |-- cod_postal: string (nullable = true)
 |-- vip: string (nullable = true)

In [7]:
clients_df.columns

Array(cod_client, nombre, edad, provincia, cod_postal, vip)

### Create Dataframe

In [19]:
data = [
    Row("00001", ["2020-01-01", "2022-01-01"]),
    Row("00002", ["2022-01-01", "2023-01-01", "2010-01-01"])
]

schema = StructType([
    StructField("cod_client", StringType()),
    StructField("fecha_pago", ArrayType(StringType()))
])

pagos_df = spark.createDataFrame(data, schema)

pagos_df.show()
pagos_df.printSchema()

+----------+--------------------+
|cod_client|          fecha_pago|
+----------+--------------------+
|     00001|[2020-01-01, 2022...|
|     00002|[2022-01-01, 2023...|
+----------+--------------------+

root
 |-- cod_client: string (nullable = true)
 |-- fecha_pago: array (nullable = true)
 |    |-- element: string (containsNull = true)

### Write Dataframe

In [26]:
base_path_parquet = "../resources/data/parquet/"
clients_df.write.mode("overwrite").parquet(base_path_parquet + "clients")